@charset "UTF-8";




/* デフォルト */
body{
  font-family: "Yu Gothic Medium", "游ゴシック　Medium", Yugothic, "游ゴシック体","ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
  background-color: #faf7f7;

  background-repeat: no-repeat;
}


.backbutton{
  margin-right: 70px;
  margin-top: 50px;
  width: 40px;

}


.menu{
  padding-top: 30px;
  height: 750px;
  width: 430px;
  background-color: #888888;
}


.menu li {
  display: list-item;  /* 縦に並べる */
  list-style-type: none;
  text-transform: uppercase;
  padding: 0.5em;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}


.menutext{
  border-bottom: solid #000000;
  border-width: 2px;
  margin-top: 60px;
  width: 250px;
  margin-left: 80px;
}






/*設定*/


.menu-contents {
  display: flex;
  justify-content: space-between;
}




.menu3 li {
  display: list-item;  /* 縦に並べる */
  list-style-type: none;
  text-transform: uppercase;
  padding: 0.5em;
  font-size: 25px;
  font-weight: bold;
}


.menu3{
    padding-top: 30px;
    height: 750px;
    width: 400px;
  margin-right: 350px;
}






























/**/
