@media(max-width:670px){



.logo{
  width: 50px;
  margin-top: 14px;
}


/*タツキのアカウント表示*/
p{
  margin-top: 40px;
  margin-right: 15px;
  text-align: center;
}


/*↓コンテナを真ん中に（これがないと真ん中にならない、ちなみに原因は謎）*/
.home-content{
  text-align: center;

}


.symbol{
  width: 50%;
}


.item{
  width: 100%;

}



.container {
width:100%;
}


}
